ion-card{
    width: 100vw;
    height: 75vh;

    ion-card-subtitle{
        text-transform: initial;
    }

    ion-card-content{
        display: flex;
    }
}

ion-list{
    width: 100%;
}

/* タブレット 縦*/
@media screen and (min-width:768px) and (orientation: portrait) {
    ion-img{
        width: 100vw;
        height: 50vh;
    }
}

// タブレット 横
@media screen  and (min-width:768px) and (orientation:landscape){
    ion-card{
        width: 100vw;
        height: 75vh;
    }

    ion-img{
        width: 100vw;
        height: 40vh;
    }
}